.search-card{
  display: flex!important;
  flex-direction: column!important;
  height: auto!important;
  }

  .search-button{
      margin-top: 0.25rem;
  }


  .loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  .table {
    border: 4px solid #ddd;
  }

  .table td, .table th {
    border-top: 4px solid #ddd;
    border-bottom: 4px solid #ddd;
  }


  .book-list{
      display: flex;
      flex-direction: column;
      border-style: groove;
      padding: 1rem;
      width: 250px;
      margin-bottom: 0.25rem;
  }

  .red{
      color: red!important;
  }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 8px 0;
    }

    p {
      margin: 0;
    }

    .spacer {
      flex: 1;
    }

    .toolbar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 60px;
      display: flex;
      align-items: center;
      background-color: #1976d2;
      color: white;
      font-weight: 600;
    }


    .content {
      display: flex;
      margin: 82px auto 32px;
      padding: 0 16px;
      max-width: 960px;
      flex-direction: column;
      align-items: center;
    }


    .card svg.material-icons path {
      fill: #888;
    }

    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 16px;
    }

    .card {
      all: unset;
      border-radius: 4px;
      border: 1px solid #eee;
      background-color: #fafafa;
      height: 40px;
      width: 200px;
      margin: 0 8px 16px;
      padding: 16px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease-in-out;
      line-height: 24px;
    }

    .card-container .card:not(:last-child) {
      margin-right: 0;
    }

    .card.card-small {
      height: 16px;
      width: 168px;
    }

    .card-container .card:not(.highlight-card) {
      cursor: pointer;
    }

    .card-container .card:not(.highlight-card):hover {
      transform: translateY(-3px);
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    .card-container .card:not(.highlight-card):hover .material-icons path {
      fill: rgb(105, 103, 103);
    }

    .card.highlight-card {
      background-color: #1976d2;
      color: white;
      font-weight: 600;
      border: none;
      width: auto;
      min-width: 30%;
      position: relative;
    }

    footer {
      margin-top: 8px;
      display: flex;
      align-items: center;
      line-height: 20px;
    }

    footer a {
      display: flex;
      align-items: center;
    }

